body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  background-color: #f0f4ef;
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #e6aace;
  text-shadow: 2px 2px #0d1821;
  font-size: 2rem;
  margin: 0;
  line-height: 1.3;
}

.input-title {
  color: #344966;
  font-size: 1rem;
  margin: 10px;
  line-height: 1.3;
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 80px;
  text-align: center;
  text-indent: 15px;
  padding: 12px;
  border: 2px solid #e6aace;
  border-radius: 20px;
  font-family: inherit;
}

button {
  background-color: #bfcc94;
  color: #0d1821;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.3;
  margin: 3px;
  height: 40px;
  margin-top: 40px;
  align-self: flex-start;
  padding: 12px;
  border: none;
  border-radius: 20px;
}

button:hover {
  background-color: #e6aace;
}

.result-box {
  width: 340px;
  background: white;
  border: 3px solid #e6aace;
  border-radius: 10px;
  font-family: inherit;
  color: #0d1821;
}

.result-box h3 {
  margin: 0;
}

.result-row {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.result-row.values-row {
  /* 2 classes*/
  background-color: #e6aace;
}

.values-header {
  text-align: right;
  word-spacing: 80px;
  padding-right: 35px;
}

#root1-value,
#root2-value,
#root3-value {
  text-align: right;
  padding-right: 35px;
  word-spacing: 55px;
}

.equation-display {
  margin: 20px auto;
  padding: 12px 20px;
  background: white;

  border: 3px solid #bfcc94;
  border-radius: 12px;
  width: fit-content;
}

#equation-text {
  margin: 0;
  color: #344966;
  font-weight: 600;
}

.content-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 30px auto;
  max-width: 1200px;
  padding: 20px;
}

#graph {
  display: block;
  background: #f9f9f9;
  border: 3px solid #0d1821;
  border-radius: 10px;
}